
  <%= render 'static/nav2' %>
<body>
  <!-- Page Header -->
  <!-- Set your background image for this header on the line below. -->
  <header class="intro-header" style= "background-image: url('assets/panel_background.jpeg')">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="post-heading">
            <h1><%=@post.title%></h1>
            <h2 class="subheading"><%=@post.subtitle%></h2>
            <span class="meta">Posted on <%=Time.now%></span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class = "post_image">
          <p>
            <%= image_tag @post.image.url(:large)%>
          </p>
        </div>
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <p class="post-subtitle"><%=@post.body%></p>
        </div>
      </div>
    </div>
  </article>
  <hr>

<% if user_signed_in? %>
  <ul class="pager">
    <li>
      <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-default"  %>
    </li>
    <li>
      <%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
    </li>
  </ul>
  <%end%>
  <ul class="pager">
    <li>
      <%= link_to 'Back', root_url, class: "btn btn-default" %>
    </li>
  </ul>









  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <ul class="list-inline text-center">
            <li>
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted">Boldly Told &copy;</p>
        </div>
      </div>
    </div>
  </footer>
</body>
